/* ------------------------------------ */
/*					CSS					*/
/*  	  Add your styles here			*/
/* ------------------------------------ */

#menu-items > li.menu-players {
    display: none !important;
}
#menu-items > li.menu-world {
    display: none !important;
}

#settings > button:nth-child(5) {
    display: none !important;
}

#settings > button:nth-child(6) {
    display: none !important;
}

#settings > button:nth-child(7) {
    display: none !important;
}
